*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    padding: 10px;
}

#title {
    text-align: left;
    display: block;
    margin: auto 0;
}